USE [Fruit_Orchard_Tourist_Farm]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agricultural_Order]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agricultural_Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OderTime] [datetime] NOT NULL,
	[OrderFinished] [bit] NOT NULL,
	[EmployeeID] [int] NULL,
	[SumPrice] [int] NULL,
 CONSTRAINT [PK_Agricultural_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agricultural_Order_Details]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agricultural_Order_Details](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Agricultural_Order_Details] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agricultural_Products]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agricultural_Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Image] [varchar](50) NULL,
	[Price] [int] NOT NULL,
	[Discount] [int] NULL,
	[Description] [varchar](max) NULL,
	[Features] [varchar](max) NULL,
	[Made] [varchar](max) NULL,
 CONSTRAINT [PK_Agricultural_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agricultural_Products_Category]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agricultural_Products_Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Agricultural_Products_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionCategory] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [bit] NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[QuestionContent] [varchar](100) NOT NULL,
	[EmployeeID] [int] NULL,
	[SetTime] [datetime] NULL,
	[Finished] [bit] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Pwd] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BirthDate] [smalldatetime] NOT NULL,
	[HireDate] [smalldatetime] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Pwd] [varchar](50) NOT NULL,
	[Department] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meal_Order]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal_Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OderTime] [datetime] NOT NULL,
	[LumpSum] [int] NOT NULL,
	[OrderFinished] [bit] NOT NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Meal_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meal_Order_Details]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal_Order_Details](
	[OrderID] [int] NOT NULL,
	[MealID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Finished] [bit] NOT NULL,
 CONSTRAINT [PK_Meal_Order_Details] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[MealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Meals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] NOT NULL,
	[NewsTitle] [varchar](50) NOT NULL,
	[NewsContent] [varchar](max) NOT NULL,
	[SetTime] [datetime] NULL,
	[CategoryID] [int] NULL,
	[Image] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Category]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Count] [int] NOT NULL,
	[OccupyNumber] [int] NOT NULL,
 CONSTRAINT [PK_Room_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Order]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[CheckIn] [smalldatetime] NOT NULL,
	[CheckOut] [smalldatetime] NOT NULL,
	[OrderFinished] [bit] NOT NULL,
	[EmployeeID] [int] NULL,
	[SumPrice] [int] NULL,
 CONSTRAINT [PK_Room_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Order_Details]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Order_Details](
	[OrderID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Room_Order_Details] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2024/6/17 下午 04:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[HasReserved] [bit] NOT NULL,
	[HasOccupied] [bit] NOT NULL,
	[CanReserve] [bit] NOT NULL,
	[CanOccupy] [bit] NOT NULL,
	[Price] [int] NULL,
	[Discount] [int] NULL,
	[Image] [varchar](50) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agricultural_Order] ON 

INSERT [dbo].[Agricultural_Order] ([ID], [CustomerID], [OderTime], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (1, 1, CAST(N'2020-02-21T21:04:02.000' AS DateTime), 1, 1, 514)
INSERT [dbo].[Agricultural_Order] ([ID], [CustomerID], [OderTime], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (2, 1, CAST(N'2020-03-22T03:14:27.000' AS DateTime), 1, 5, 584)
INSERT [dbo].[Agricultural_Order] ([ID], [CustomerID], [OderTime], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (3, 3, CAST(N'2020-06-28T13:47:37.000' AS DateTime), 1, 6, 60)
SET IDENTITY_INSERT [dbo].[Agricultural_Order] OFF
GO
INSERT [dbo].[Agricultural_Order_Details] ([OrderID], [ProductID], [Count], [Price]) VALUES (1, 1, 4, 99)
INSERT [dbo].[Agricultural_Order_Details] ([OrderID], [ProductID], [Count], [Price]) VALUES (1, 3, 2, 199)
INSERT [dbo].[Agricultural_Order_Details] ([OrderID], [ProductID], [Count], [Price]) VALUES (2, 1, 5, 99)
GO
SET IDENTITY_INSERT [dbo].[Agricultural_Products] ON 

INSERT [dbo].[Agricultural_Products] ([ID], [CategoryID], [Stock], [Name], [Image], [Price], [Discount], [Description], [Features], [Made]) VALUES (1, 1, 8, N'台灣金鑽鳳梨1入
', N'~/image/pineapple.jpg
', 99, 0, N'每顆金鑽鳳梨都經過嚴格挑選，品質優異，適合鮮食或用於烹飪、製作果汁等多種料理。', N'甜美多汁，香氣濃郁，口感酥脆，且果肉金黃誘人', N'屏東')
INSERT [dbo].[Agricultural_Products] ([ID], [CategoryID], [Stock], [Name], [Image], [Price], [Discount], [Description], [Features], [Made]) VALUES (2, 1, 13, N'台灣黑糖芭比蓮霧2入
', N'~/image/waxapple.jpg
', 199, 0, N'黑糖芭比蓮霧以其特有的清新口感，深受大眾喜愛，是夏季消暑的佳品。', N'外皮光滑紅潤，果肉清脆多汁，口感獨特', N'屏東')
INSERT [dbo].[Agricultural_Products] ([ID], [CategoryID], [Stock], [Name], [Image], [Price], [Discount], [Description], [Features], [Made]) VALUES (3, 1, 7, N'台灣紅寶石芭樂1入
', N'~/image/guava.jpg', 59, 0, N'紅寶石芭樂不僅味道甜美，還具有良好的營養價值，是日常水果中的健康之選。', N'外皮綠中帶紅，果肉細嫩，香甜多汁，富含維生素C和纖維。', N'宜蘭')
SET IDENTITY_INSERT [dbo].[Agricultural_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Agricultural_Products_Category] ON 

INSERT [dbo].[Agricultural_Products_Category] ([ID], [Name]) VALUES (1, N'水果')
INSERT [dbo].[Agricultural_Products_Category] ([ID], [Name]) VALUES (2, N'果茶')
SET IDENTITY_INSERT [dbo].[Agricultural_Products_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [QuestionCategory], [Name], [Sex], [Phone], [QuestionContent], [EmployeeID], [SetTime], [Finished]) VALUES (1, N'訂單問題', N'黃竣欽', 1, N'0958345678', N'我的訂單何時會出貨？', 1, CAST(N'2024-05-23T14:17:43.197' AS DateTime), 1)
INSERT [dbo].[Contact] ([ID], [QuestionCategory], [Name], [Sex], [Phone], [QuestionContent], [EmployeeID], [SetTime], [Finished]) VALUES (2, N'園區資訊', N'邱舜逸', 1, N'0921987654', N'園區內有提供導覽服務嗎？', 2, CAST(N'2024-05-23T14:44:05.587' AS DateTime), 0)
INSERT [dbo].[Contact] ([ID], [QuestionCategory], [Name], [Sex], [Phone], [QuestionContent], [EmployeeID], [SetTime], [Finished]) VALUES (3, N'商品', N'楊岳霖', 1, N'0912123456', N'可以增加商品種類嗎？', 8, CAST(N'2024-05-24T14:16:44.650' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [Pwd], [Email], [Phone], [Address]) VALUES (1, N'張玉芬', N'pwHbtf59d123', N'zhangyufen@gmail.com', N'0912345678', N'台北市信義區忠孝東路四段100號')
INSERT [dbo].[Customer] ([ID], [Name], [Pwd], [Email], [Phone], [Address]) VALUES (2, N'李明宇', N'abc4zhzt556', N'limingyu@gmail.com', N'0923456789', N'新北市板橋區中山路一段20號')
INSERT [dbo].[Customer] ([ID], [Name], [Pwd], [Email], [Phone], [Address]) VALUES (3, N'王美玲', N'passwogxhx5962zhrd', N'wangmeiling@gmail.com', N'0934567890', N'桃園市中壢區中北路三段30號')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [BirthDate], [HireDate], [Address], [Phone], [Email], [Pwd], [Department]) VALUES (1, N'王成明', CAST(N'1985-03-15T00:00:00' AS SmallDateTime), CAST(N'2010-07-20T00:00:00' AS SmallDateTime), N'台北市信義區忠孝東路1段', N'0912345678', N'wang.chengming@gmail.com', N'5959sdvd', N'服務部門')
INSERT [dbo].[Employee] ([ID], [Name], [BirthDate], [HireDate], [Address], [Phone], [Email], [Pwd], [Department]) VALUES (2, N'李玉美', CAST(N'1990-11-28T00:00:00' AS SmallDateTime), CAST(N'2015-02-10T00:00:00' AS SmallDateTime), N'新北市板橋區中山路2段', N'0987654321', N'li.yumei@gmail.com', N'599ss59sdvd', N'服務部門')
INSERT [dbo].[Employee] ([ID], [Name], [BirthDate], [HireDate], [Address], [Phone], [Email], [Pwd], [Department]) VALUES (3, N'張明偉', CAST(N'1988-05-10T00:00:00' AS SmallDateTime), CAST(N'2012-09-15T00:00:00' AS SmallDateTime), N'桃園市中壢區中正路3段', N'0934567890', N'zhang.mingwei@gmail.com', N'3ssfsdvd', N'行銷部門')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Meal_Order] ON 

INSERT [dbo].[Meal_Order] ([ID], [CustomerID], [OderTime], [LumpSum], [OrderFinished], [EmployeeID]) VALUES (1, 1, CAST(N'2024-05-13T08:30:00.000' AS DateTime), 110, 1, 1)
INSERT [dbo].[Meal_Order] ([ID], [CustomerID], [OderTime], [LumpSum], [OrderFinished], [EmployeeID]) VALUES (2, 2, CAST(N'2024-05-13T10:45:00.000' AS DateTime), 180, 1, 10)
INSERT [dbo].[Meal_Order] ([ID], [CustomerID], [OderTime], [LumpSum], [OrderFinished], [EmployeeID]) VALUES (3, 3, CAST(N'2024-05-13T13:15:00.000' AS DateTime), 200, 1, 8)
SET IDENTITY_INSERT [dbo].[Meal_Order] OFF
GO
INSERT [dbo].[Meal_Order_Details] ([OrderID], [MealID], [Count], [Price], [Finished]) VALUES (1, 6, 1, 110, 1)
INSERT [dbo].[Meal_Order_Details] ([OrderID], [MealID], [Count], [Price], [Finished]) VALUES (2, 11, 3, 60, 1)
INSERT [dbo].[Meal_Order_Details] ([OrderID], [MealID], [Count], [Price], [Finished]) VALUES (3, 3, 2, 100, 1)
GO
SET IDENTITY_INSERT [dbo].[Meals] ON 

INSERT [dbo].[Meals] ([ID], [Name], [Stock]) VALUES (1, N'蔬果沙拉', 25)
INSERT [dbo].[Meals] ([ID], [Name], [Stock]) VALUES (2, N'水果拼盤', 10)
INSERT [dbo].[Meals] ([ID], [Name], [Stock]) VALUES (3, N'蔬菜湯', 5)
SET IDENTITY_INSERT [dbo].[Meals] OFF
GO
INSERT [dbo].[News] ([ID], [NewsTitle], [NewsContent], [SetTime], [CategoryID], [Image]) VALUES (1, N'蘋果即將收成', N'我們的果樹即將迎來一輪新的採摘季節！目前園內有許多蘋果已快成熟。我們正忙碌地準備迎接這次豐收。除了有提供寄送服務，也歡迎您親自前往庄園採摘，我們期待您的蒞臨！', CAST(N'2024-07-02T10:45:20.000' AS DateTime), 1, N'~/image/news1.jpg')
INSERT [dbo].[News] ([ID], [NewsTitle], [NewsContent], [SetTime], [CategoryID], [Image]) VALUES (2, N'品嚐新鮮水果', N'隨著夏日的到來，我們為您帶來了一場特別的活動！在本月，只要您前來果茶庄園，您將有機會品嚐到我們最新鮮的水果。帶上家人和朋友，一起來果茶庄園度過一個愉快的週末吧！', CAST(N'2024-06-29T09:20:10.000' AS DateTime), 1, N'~/image/news2.jpg')
INSERT [dbo].[News] ([ID], [NewsTitle], [NewsContent], [SetTime], [CategoryID], [Image]) VALUES (3, N'家庭日，果茶庄園親子活動', N'果茶庄園將舉辦一場特別的家庭日活動！我們將為您和您的小朋友準備一系列有趣的親子活動，包括果實採摘、親子遊戲等等。邀請您與家人一同到果茶庄園體驗。', CAST(N'2024-06-25T08:30:20.000' AS DateTime), 1, N'~/image/news3.jpg')
GO
SET IDENTITY_INSERT [dbo].[Room_Category] ON 

INSERT [dbo].[Room_Category] ([CategoryID], [Name], [Count], [OccupyNumber]) VALUES (1, N'單人房', 3, 1)
INSERT [dbo].[Room_Category] ([CategoryID], [Name], [Count], [OccupyNumber]) VALUES (2, N'雙人房', 4, 2)
INSERT [dbo].[Room_Category] ([CategoryID], [Name], [Count], [OccupyNumber]) VALUES (3, N'三人房', 2, 3)
SET IDENTITY_INSERT [dbo].[Room_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Room_Order] ON 

INSERT [dbo].[Room_Order] ([ID], [CustomerID], [OrderTime], [CheckIn], [CheckOut], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (1, 1, CAST(N'2023-01-02T10:37:01.000' AS DateTime), CAST(N'2023-03-15T16:17:00' AS SmallDateTime), CAST(N'2023-03-16T08:41:00' AS SmallDateTime), 1, 2, 1800)
INSERT [dbo].[Room_Order] ([ID], [CustomerID], [OrderTime], [CheckIn], [CheckOut], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (2, 2, CAST(N'2023-01-09T14:20:44.000' AS DateTime), CAST(N'2023-03-16T19:53:00' AS SmallDateTime), CAST(N'2023-03-17T09:46:00' AS SmallDateTime), 1, 5, 1800)
INSERT [dbo].[Room_Order] ([ID], [CustomerID], [OrderTime], [CheckIn], [CheckOut], [OrderFinished], [EmployeeID], [SumPrice]) VALUES (3, 3, CAST(N'2023-01-23T18:58:33.000' AS DateTime), CAST(N'2023-04-03T13:11:00' AS SmallDateTime), CAST(N'2023-04-05T05:18:00' AS SmallDateTime), 1, 6, 1800)
SET IDENTITY_INSERT [dbo].[Room_Order] OFF
GO
INSERT [dbo].[Room_Order_Details] ([OrderID], [RoomID], [Price]) VALUES (1, 1, 1800)
INSERT [dbo].[Room_Order_Details] ([OrderID], [RoomID], [Price]) VALUES (2, 2, 1800)
INSERT [dbo].[Room_Order_Details] ([OrderID], [RoomID], [Price]) VALUES (3, 3, 1800)
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([ID], [CategoryID], [HasReserved], [HasOccupied], [CanReserve], [CanOccupy], [Price], [Discount], [Image]) VALUES (1, 1, 0, 0, 1, 1, 1800, 0, N'~/image/room11.jpg')
INSERT [dbo].[Rooms] ([ID], [CategoryID], [HasReserved], [HasOccupied], [CanReserve], [CanOccupy], [Price], [Discount], [Image]) VALUES (2, 1, 0, 0, 1, 1, 1800, 0, N'~/image/room12.jpg')
INSERT [dbo].[Rooms] ([ID], [CategoryID], [HasReserved], [HasOccupied], [CanReserve], [CanOccupy], [Price], [Discount], [Image]) VALUES (3, 1, 1, 1, 0, 0, 1800, 0, N'~/image/room13.jpg')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
ALTER TABLE [dbo].[Agricultural_Order]  WITH CHECK ADD  CONSTRAINT [FK_Agricultural_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agricultural_Order] CHECK CONSTRAINT [FK_Agricultural_Order_Customer]
GO
ALTER TABLE [dbo].[Agricultural_Order]  WITH CHECK ADD  CONSTRAINT [FK_Agricultural_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Agricultural_Order] CHECK CONSTRAINT [FK_Agricultural_Order_Employee]
GO
ALTER TABLE [dbo].[Agricultural_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Agricultural_Order_Details_Agricultural_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Agricultural_Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agricultural_Order_Details] CHECK CONSTRAINT [FK_Agricultural_Order_Details_Agricultural_Order]
GO
ALTER TABLE [dbo].[Agricultural_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Agricultural_Order_Details_Agricultural_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Agricultural_Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agricultural_Order_Details] CHECK CONSTRAINT [FK_Agricultural_Order_Details_Agricultural_Products]
GO
ALTER TABLE [dbo].[Agricultural_Products]  WITH CHECK ADD  CONSTRAINT [FK_Agricultural_Products_Agricultural_Products_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Agricultural_Products_Category] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agricultural_Products] CHECK CONSTRAINT [FK_Agricultural_Products_Agricultural_Products_Category]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Contact] CHECK CONSTRAINT [FK_Contact_Employee]
GO
ALTER TABLE [dbo].[Meal_Order]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meal_Order] CHECK CONSTRAINT [FK_Meal_Order_Customer]
GO
ALTER TABLE [dbo].[Meal_Order]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Meal_Order] CHECK CONSTRAINT [FK_Meal_Order_Employee]
GO
ALTER TABLE [dbo].[Meal_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Order_Details_Meal_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Meal_Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meal_Order_Details] CHECK CONSTRAINT [FK_Meal_Order_Details_Meal_Order]
GO
ALTER TABLE [dbo].[Meal_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Order_Details_Meals] FOREIGN KEY([MealID])
REFERENCES [dbo].[Meals] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meal_Order_Details] CHECK CONSTRAINT [FK_Meal_Order_Details_Meals]
GO
ALTER TABLE [dbo].[Room_Order]  WITH CHECK ADD  CONSTRAINT [FK_Room_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Order] CHECK CONSTRAINT [FK_Room_Order_Customer]
GO
ALTER TABLE [dbo].[Room_Order]  WITH CHECK ADD  CONSTRAINT [FK_Room_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Room_Order] CHECK CONSTRAINT [FK_Room_Order_Employee]
GO
ALTER TABLE [dbo].[Room_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Room_Order_Details_Room_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Room_Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Order_Details] CHECK CONSTRAINT [FK_Room_Order_Details_Room_Order]
GO
ALTER TABLE [dbo].[Room_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Room_Order_Details_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Order_Details] CHECK CONSTRAINT [FK_Room_Order_Details_Rooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Room_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Room_Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Room_Category]
GO
