@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var checkInDate = ViewBag.CheckInDate != null ? ViewBag.CheckInDate.ToString("yyyy-MM-dd") : "";
    var checkOutDate = ViewBag.CheckOutDate != null ? ViewBag.CheckOutDate.ToString("yyyy-MM-dd") : "";
}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<div class="container">
    <h1 class="mt-4 mb-4">訂房</h1>

    <form method="post" action="@Url.Action("SearchRooms", "Room")">

        <div class="form-group">
            <label for="roomType">選擇房間類別：</label>
            <select class="form-control" id="roomType" name="roomType" required>
                <option value="1">單人房</option>
                <option value="2">雙人房</option>
                <option value="3">三人房</option>
                <option value="4">四人房</option>
            </select>
        </div>

        <div class="form-group">
            <label for="checkInDate">入住日期：</label>
            <input name="checkInDate" type="date" class="form-control" id="checkInDate" onchange="updateCheckOutDate()" value="@checkInDate" required>
        </div>

        <div class="form-group">
            <label for="checkOutDate">退房日期：</label>
            <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" value="@checkOutDate" required>
        </div>
        <button type="submit" class="btn btn-primary">搜尋房間</button>
    </form>


    <div id="searchResults" class="mt-4"></div>
</div>



@* <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> *@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function updateCheckOutDate() {
        var checkInDate = document.getElementById('checkInDate').value;
        var checkOutDate = document.getElementById('checkOutDate');
        checkOutDate.min = checkInDate;
    }

</script>
