@model project_ver1.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "忘記密碼";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        

        .form-control {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            font-size: 25px;
            padding: 10px 8px;
            margin-bottom: 20px;
        }

        .form-container {
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 50px auto;
            font-family: 'Noto Sans TC', sans-serif;
        }

        h1, h3 {
            font-weight: normal;
        }

        h3 {
            
            margin-bottom: 20px;
        }


        .btn-primary {
            padding: 10px 20px;
            font-size: 20px;
        }

        .container-md {
            padding-top: 20px;
        }

        .form-group {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container-md text-center">
        <h1 style="font-family: 'Noto Sans TC', sans-serif;">忘記密碼</h1>

        <div class="form-container">
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <h3>請輸入您的帳號</h3>
                    <h3 style="color:red">@ViewBag.ErrorMessage</h3>
                    <input asp-for="Email" type="email" class="form-control input-group-sm" required placeholder="在此輸入您的e-mail信箱" />
                </div>
                <button type="submit" class="btn btn-primary">發送重設密碼連結到信箱</button>
            </form>
        </div>
    </div>
</body>
</html>
