@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ForgotPasswordConfirmation";
}
<style>
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }



    .section2 {
        float: left;
        width: 100%;
        background: #fff;
        position: relative;
        box-shadow: 0 0 5px 0px #333;
    }

    .arrow-wrap {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: -5em;
        margin-left: -5em;
        background: #111;
        width: 10em;
        height: 10em;
        padding: 4em 2em;
        border-radius: 50%;
        font-size: 0.5em;
        display: block;
        box-shadow: 0px 0px 5px 0px #333;
    }

    .arrow {
        float: left;
        position: relative;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3em 3em 0 3em;
        border-color: #ffffff transparent transparent transparent;
        -webkit-transform: rotate(360deg)
    }

        .arrow:after {
            content: '';
            position: absolute;
            top: -3.2em;
            left: -3em;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 3em 3em 0 3em;
            border-color: #111 transparent transparent transparent;
            -webkit-transform: rotate(360deg)
        }

    .hint {
        position: absolute;
        top: 0.6em;
        width: 100%;
        left: 0;
        font-size: 2em;
        font-style: italic;
        text-align: center;
        color: #fff;
        opacity: 0;
    }

    .arrow-wrap:hover .hint {
        opacity: 1;
    }

   

  


  



</style>
<header>
	<br />
    <br />
    <br />
</header>
<div>
    <div>
<div class="container-md">
            <br><br><br>
            <section class="main section2">
        <a class="arrow-wrap" href="#content">
            <span class="arrow"></span>
           
        </a>
        <br>
        <div class="content" id="content">
                    <br><br><br>
            <h1 style="font-size: 50px; color: green; text-align: center;">請查看信箱</h1>
                    <br><br><br>
        </div>
    </section>
            <br><br><br><br><br>
</div>
        <br><br><br><br><br>
</div>
    <br><br><br><br><br>
</div>
