@model project_ver1.Models.Customer

@{
    ViewData["Title"] = "Edit Member Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        width: 100%;
        font-size: 20px;
        padding: 10px 8px;
    }

    .mb-box {
        width: 65%;
        padding: 80px;
        border-radius: 15px;
        border: 2px solid hsla(0, 0%, 85%, 1);
        margin: 0 auto;
        background-color: white;
        box-shadow: 6px 6px 6px 2px gray;
    }

    .form-group {
        margin-bottom: 30px;
    }

    h5 {
        font-weight: bold;
        font-size: 23px;
    }

    .btnuse {
        padding: 10px;
        font-size: 23px;
        font-weight: bold;
    }

    .useheader {
        font-weight: bold;
        font-size: 35px;
        background-color: #75ac06;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
</style>
<br />
<br />
<div class="container-md">
    <div class="mb-box">
        <h3 class="text-center useheader">
            修改會員資料
        </h3>

        <br><br>
        <form asp-action="MemberEditPost" method="post">
            <div class="form-group">
                <h5>姓名</h5>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>信箱</h5>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>電話</h5>
                <input asp-for="Phone" class="form-control" type="tel" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>地址</h5>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>密碼</h5>
                <input asp-for="Pwd" class="form-control" required minlength="8" maxlength="20" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$" placeholder="密碼請輸入8-20個數字及字母" />
                <span asp-validation-for="Pwd" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-primary btnuse" onclick="confirmP()">儲存修改</button>
            <a asp-action="BackstageMember" class="btn btn-secondary btnuse" style="margin-left:20px;">取消修改</a>
        </form>
        </<div>
        </div>

        <br />
        <br />
        <script>
            function confirmP() {
                if (confirm('修改成功')) {
                    document.getElementById('EditForm').submit();

                }
            }
        </script>
